<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
        <a class="btn btn-default btn-sm" href="/plants/new">New</a>
    </div>
  </div>
  <br>
  <div class="row">
      <%plants.forEach(function(plant){%>
        <div class="col-md-3">
          <div class="well">
              <span>Name: <b> <%=plant.pflanzeName%> </b></span>
              <a style="display:inline " class="btn btn-info"href="/plants/<%=plant.id%>">Show</a>
              <form style="display:inline" action="/plants/setActive/<%=plant.id%>?_method=PUT" method="post">
                <button class="btn btn-default btn-sm" type="submit">Set Active</button>
              </form>
          </div>
        </div>
        <%})%>
  </div>
</div>

<% include ../partials/footer %>
